.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

inst/doc
docs
/doc/
/Meta/

#/README_files/

/vignettes/plausibility_files/
/vignettes/prevalence_files/
/vignettes/sample_size_files/

/.quarto/
